@media (max-width: 500px) {
    .profile_container {
        background-color: transparent;
        width: 100%;
        height: 152px;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .profile_card {
        position: relative;
        background-color: #001F3F;
        width: 80%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .profile_left_sider {
        background-color: transparent;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_picture_area {
        background-image: url(./mainPictures/me.jpg);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .profile_right_sider {
        background-color: transparent;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .profile_name_area {
        background-color: transparent;
        font-size: x-large;
        color: #FFD700;
    }

    .profile_info_area {
        background-color: transparent;
        font-size: medium;
        color: #FFD700;
    }

    .section_marginer {
        background-color: transparent;
        width: 100%;
        height: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section_marginer_line {
        background-color: #03c1c1;
        width: 30%;
        height: 4px;
        border-radius: 20px;
    }

    .main_section_backer {
        background-color: transparent;
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section {
        background-color: whitesmoke;
        width: 90%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }

    .section:hover {
        background-color: rgb(198, 195, 195);
        transition: ease-in 0.2s;
    }

    .section_logo_backer {
        background-color: transparent;
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section1_logo_area {
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .section_info_backer {
        background-color: transparent;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section_info_upper {
        background-color: transparent;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: baseline;
    }

    .section_name {
        background-color: transparent;
        color: #03c1c1;
        margin-left: 10px;
        font-size: x-large;
        border-bottom: 1px solid #03c1c1;
    }

    .section_info_lower {
        background-color: transparent;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section_info_area {
        background-color: transparent;
        width: 95%;
        height: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .news_backer {
        background-color: transparent;
        width: 100%;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .news_inner {
        background-color: transparent;
        width: 90%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .news_picture1_area {
        background-image: url(./mainPictures/photo-n1772.png);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .news_picture2_area {
        background-image: url(./mainPictures/photo-n0891.webp);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .news_picture3_area {
        background-image: url(./mainPictures/photo-n7812.jpg);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .news_text_area {
        background-color: rgb(230, 226, 226);
        width: 100%;
        height: 30%;
        border-radius: 0 0 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .news_actual_text {
        background-color: transparent;
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }

    .news_actual_text:hover {
        text-decoration: underline;
        color: blue;
    }
}